body{
    font-family: "segoe ui";
}

h1{
    text-align: center;
}
h1 img{
    width: 20%;

    transition: 0.4s;
}
h1 img:hover{
    width: 25%;
}
.thongtin{
    position: relative;
    height: 40px;
    width: 200px;
}
.thongtin img{
    position: absolute;
    top: 50px;;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    background: rgb(221, 201, 201);
}
.thongtin:hover img{
    top:40px;
    visibility: visible;
    opacity: 1;
    left: 0;
}