:root{
    --vang:rgb(187, 255, 0);
    --maunen:rgb(129, 122, 122);
    --text-size1: 11px;
    --font:"segoe ui light"
}
body{
    background-color: var(--vang);
    font-family: var(--font);
}
h2{
    font-size: var(--text-size1);
}