.khung{
width: 800px;
height: 400px;
margin: auto;
background-image: url(a1.png);

color: white;
font-size: 33px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
justify-content: center;
align-items: center;
}
.khung .noidung{
background-color: rgb(97, 92, 92);
padding: 20px;
}