.cottrai{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    width: 500px;
}
.cottrai img{
    width: 100%;
    border-radius: 50%;
}
a.anhvatd{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}
a.anhvatd h3{
    padding: 0;
    margin: 0;
}
.anhvatd:hover{
    color: rgb(58, 150, 236);
}
a.nguon, a.lq{
    text-decoration: none;
    padding-right: 10px;
}
span.gio{
    padding-right: 10px;
}
.tren2{
    display: flex;
    justify-content:space-between ;
}
.cot1, .cot2, .cot3{
    width: 31%;
}
.cot1 a.anhvatd{
    font-size: 15px;
}
.cot1 a.nguon ,.cot1 span.gio,.cot1 a.lq{
    font-size: 9px;
} 
.duoi{
    
    margin-top: 50px;
}
.duoi  {
display: flex;
width: 800px;
flex-wrap: wrap;
margin-left: 40px;
}
.duoi  a.khoinho{
width: 200px;
display: flex;
height: 30px;
color: rgb(82, 78, 78);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 13px;
text-decoration: none;
}
.duoi  a.khoinho img.trai{
width: 16px;
height: 16px;
margin-right: 5px;
}
.duoi  a.khoinho  .phai{
width: 170px;
}
._13cot{
width: 1000px;
display: flex;
flex-wrap: wrap;
margin: auto;
}
._13cot  ._1cot{
width: 76px;
height: 100px;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 13px;
}
._13cot  ._1cot img{
    border-radius: 4px;
}
._13cot  ._1cot img:hover{
    border-radius: 4px;
    border: 2px solid rgb(0, 126, 63);
}
._13cot  ._1cot a.ten{
text-decoration: none;
color: rgb(60, 9, 247);
}