.chu{
height: 40px;
width: 200px;
font-size: 25px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
margin: auto;
background-color: rgb(209, 125, 66);
margin-top: 50px;
overflow: hidden;
}
.chu .chunho{
position: relative;
top:50px;
transition: 0.4s;
}
.chu:hover .chunho{
top: 0;
}