.banner{
    width: 1233px;
    height: 540px;
    background-color: rgb(235, 235, 142);
    margin: auto;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.banner  ._1c{
width: 240px;
}
.banner  ._1c  ._1hang{
    display: flex;
}
.banner  ._1c  ._1hang .hangtrai{
    width: 25px;
    margin-right: 5px;
    
}
.banner  ._1c  ._1hang .hangphai{
    margin-top: 5px;
    width: 215px;
}
.banner  ._2c{
width: 585px;
}
.banner  ._2c  .tren{
height: 330px;
margin-bottom: 30px;
}
.banner  ._2c  .duoi{
height: 160px;
display: flex;
}
.banner  ._2c  .tren .motnua{
width: 50%;
}
.banner  ._3c{
width: 408px;
display: flex;
flex-wrap: wrap;
}
.banner ._3c .saudiv{
width: 50%;
}
img{
    width: 100%;
}
#s1 .carousel-indicators{
    visibility: hidden;
}
