.ongnoi{
    display: flex;
    flex-wrap: wrap;
}
.bo{width: 100px;
height: 100px;
position: relative;
padding-right: 5px;
}
.bo .lop1{
width: 100px;
height: 100px;
}
.bo .lop2{
 width: 100px;
height: 100px;
background-color: black;
opacity: 0.4;
position: absolute;
top:0;left: 0;
opacity: 0;
}
.bo:hover .lop2{
    width: 100px;
   height: 100px;
   background-color: black;
   opacity: 0.4;
   position: absolute;
   top:0;left: 0;
   opacity: 0.4;
   transition: 0.4s;
   
   }
.bo .lop3{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 35px;left: 35px;
    opacity: 0;
    transform: scale(0);
}
.bo:hover .lop3{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 35px;left: 35px;
    opacity: 1;
    transition: 0.4s;
    transform: scale(1);
}